{% extends 'base/base.html' %}

{% load static %}

{% block title %}
<title>H2H : Add Property</title>

{% endblock title %}


{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />

<link rel="stylesheet" type="text/css" href="{% static 'styles/property/addproperty.css' %}">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% endblock style %}

{% block content %}

<nav class="navbar sticky-top">
    <a class="navbar-brand" href="host.html" style="left: 20px;  padding-left: 20px;"><b><b>H2H</b></b></a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="host.html" style="color: Black;, text-decoration-style: double;"><b>Home</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;, text-decoration-style:double;"><b>My Listings</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;, text-decoration-style:double;"><b>Profile</b></a>
        </li>
    </ul>
</nav>
<!-- <nav class="navbar">
        <div class="navi">
            <div class="logo"><a href="#home">H2H</a></div>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <div class="dropdown">
                <li><a href="#">Login
                <button class="dropbtn"></button>
                <div class="dropdown-content">
                <a href="guestlogin.html" class="login-content"> Guest </a> <br>
                <a href="hostlogin.html" class="login-content"> Host </a>
                </div>
                </a>
                </li>
                </div>
                <li><a href="#mylisting">My Listing</a></li>
            </ul>
            <div class="menu-btn">
            </div>
        </div>

    </nav> -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">List your space</h2>
                <p>Fill all fields to go to next step</p>
                <!--<form id="msform">-->
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active" id="basic"><strong>BASIC</strong></li>
                    <li id="location"><strong>Location</strong></li>
                    <li id="settings"><strong>Settings</strong></li>
                    <li id="images"><strong>Images</strong></li>
                    <li id="rules"><strong>RULES</strong></li>
                </ul>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div> <br> <!-- fieldsets -->
                <form id="msform" method="POST" action="">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">BASIC:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1-5</h2>
                                </div>
                            </div>
                            <label class="fieldlabels"><b>Space Type:*</b></label>
                            <select>
                                Space Type:
                                <option value="homestay">Homestay</option>
                                <option value="hotel">Hotel</option>
                                <option value="villa">Villa</option>
                            </select>

                            <label class="fieldlabels"><b>Title for your Space:*</b></label>
                            <input type="text" name="hname" placeholder="Enter catchy title for your space" />

                            <label class="fieldlabels"><b>Facilities:*</b></label><br>
                            <table style="width:100%">
                                <tr>
                                    <td><label class="fieldlabels">Complementary Breakfast</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>

                                    <td><label class="fieldlabels">Luxrious room</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label class="fieldlabels">Attached toilet/bathroom</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>

                                    <td><label class="fieldlabels">HOT SHOWER</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label class="fieldlabels">TV </label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>

                                    <td><label class="fieldlabels">AC</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label class="fieldlabels">INTERNET</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>
                                    <td><label class="fieldlabels">SMOKING & DRINKING</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td><label class="fieldlabels">RECEIVE FACILITY</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>

                                    <td><label class="fieldlabels">DROP FACILITY</label>
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </td>
                                </tr>
                            </table>


                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">LOCATION:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2-5 </h2>
                                </div>
                            </div>
                            
                            <label class="fieldlabels">City/Place*</label>
                            <input type="text" name="city" placeholder="City/Place" />
                            <label class="fieldlabels">Address*</label>
                            <input type="text" name="city" placeholder="In detail address" />
                            <label class="fieldlabels">Nearest Landmark*</label>
                            <input type="text" name="city" placeholder="Nearest Landmark" />

                            <!-- <label class="fieldlabels">Location*</label>
                            <input type="submit" name="get_location" class="button" id="get_location"
                                value="My Location">
                            <div id="map">
                                <iframe id="google_map" width="425" height="350" frameborder="0" scrolling="no"
                                    marginheight="0" marginwidth="0"
                                    src="https://maps.google.co.uk?output=embed"></iframe>
                            </div> -->
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Settings:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3-5 </h2>
                                </div>
                            </div>
                            <label class="fieldlabels">No. of Rooms: *</label>
                            <input type="number" name="num" placeholder="Total Rooms" />
                            <label class="fieldlabels">Maximum People per Room: *</label>
                            <input type="number" name="mnum" placeholder="Maximum Capacity" />
                            <label class="fieldlabels">Start price per Room per person: *</label>
                            <input type="number" name="pnum" placeholder="Price" />
                            <label class="fieldlabels">Increase price per person: *</label>
                            <input type="number" name="pnum" placeholder="Price" />


                            <!-- <label class="fieldlabels">Available Rooms *</label>
                            <input type="number" name="anum" placeholder="Available rooms" /> -->

                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Images:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4-5</h2>
                                </div>
                            </div> <br><br>
                            <!-- <label class="fieldlabels">Images of your space*</label> -->
                            <label class="fieldlabels">Main Image*:</label><br>
                            <input type="file" name="room_photo" accept="image/*"> <br>
                            <label class="fieldlabels">Other Images:</label><br>
                            <input type="file" name="pic" accept="image/*" multiple> <br>
                            <!-- <label class="fieldlabels">Bathroom*:</label><br>
                            <input type="file" name="pic" accept="image/*"> <br>
                            <label class="fieldlabels">Dinning*:</label><br>
                            <input type="file" name="pic" accept="image/*"> <br>
                            <label class="fieldlabels">House*:</label><br>
                            <input type="file" name="pic" accept="image/*"><br>
                            <label class="fieldlabels">House*:</label><br>
                            <input type="file" name="pic" accept="image/*"><br>
                            <label class="fieldlabels">House*:</label><br>
                            <input type="file" name="pic" accept="image/*"><br> -->

                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Rules:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 5-5</h2>
                                </div>
                            </div>
                            <label class="fieldlabels"><b>Please write your rules and seprate them with new line.</b></label><br><br>
                            <label class="fieldlabels">RULES of your space*</label>
                            <textarea name="rules" rows="10" placeholder="Write rules briefly."></textarea>
                        </div>
                        <input type="submit" name="next" class="next action-button" value="Submit" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <!-- <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"></h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps"></h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="check-mark.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully listed your space</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset> -->
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/addproperty.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock js %}