{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>H2H : All Travel Solutions</title>
{% endblock title %}



{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'styles/base/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/base/main_styles.css' %}">

<style>
    
    .header_content {
        height: 100px;
    }

    .header {
        background: rgba(24, 24, 24, 0.6);
    }
</style>
{% endblock style %}


{% block content %}
<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>

<div class="super_container">

    <!-- Header -->

    {% include 'components/header.html' %}

    <!-- Menu -->

    <!-- {% include 'components/menu.html' %} -->

    <!-- Home -->

    <!-- Intro -->

    <div class="destinations" id="destinations" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title">
                        <h2>Your Booking List</h2>
                    </div>
                </div>
            </div>
            <div class="row destinations_row">
                <div class="col">
                    <div class="destinations_container item_grid">

                        {% for p in property %}

                        <div class="destination item">
                            <div class="destination_image">
                                <img src="{{p.property.main_image.url}}" alt="">
                            </div>
                            <div class="destination_content">
                                <div class="destination_title"><a href="{% url 'property-detail' p.property.slug %}">{{p.property.name}}</a></div>
                                
                                <div class="destination_subtitle">
                                    <p><span>{{p.from_date}}</span><span style="float:right;">{{p.to_date}}</span></p>
                                </div>
                                <b><span>Rooms : {{p.rooms}}</span><span style="float:right;"> People : {{p.no_people}}</span></b><br>
                                <span class="destination_price">Price Rs.{{p.price}}</span>
                                <div class="mt-1">
                                    <span type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">
                                        Edit
                                    </span>
                                    <span type="button" style="float: right; margin-right: 10px; " class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                                        Cancel
                                    </span>

                                    <!-- Edit Modal -->
                                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Booking</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="POST" action="{% url 'edit-booking' p.pk %}">
                                                            {% csrf_token %}
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="from_date">Arrival Date</label>
                                                                    <input type="text" class="form-control" id="from_date" name="from_date"
                                                                    onfocus="(this.type='date')" onblur="(this.type='text')"
                                                                    placeholder="Arrival Date" value="{{p.from_date}}">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="to_date">Checkout Date</label>
                                                                    <input type="text" class="form-control" id="to_date" name="to_date"
                                                                    onfocus="(this.type='date')" onblur="(this.type='text')"
                                                                    placeholder="Checkout Date" value="{{p.to_date}}">
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="rooms">Number of Rooms</label>
                                                                    <input type="number" class="form-control" id="rooms" name="no_of_rooms" value="{{p.rooms}}" placeholder="Enter number of rooms">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="people">Number of People</label>
                                                                    <input type="number" class="form-control" id="people" name="no_of_people" value="{{p.no_people}}" placeholder="Enter number of guests">
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary float-right">Save Change</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <!-- End Edit Modal -->

                                    <!-- Delete Modal -->

                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Cancel Booking</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure to cancel the Booking on {{p.property.name}} ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <a type="button" class="btn btn-danger text-white" href="{% url 'delete-booking' p.pk %}">Sure</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- End Delete Modal -->

                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}


{% block js %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

{% endblock js %}