{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>H2H : All Travel Solutions</title>
{% endblock title %}



{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/base/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/base/main_styles.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
    .header_content {
        height: 100px;
    }

    .header {
        background: rgba(24, 24, 24, 0.6);
    }
</style>
{% endblock style %}


{% block content %}
<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>

<div class="super_container">

    <!-- Header -->

    {% include 'components/header.html' %}

    <!-- Menu -->

    <!-- {% include 'components/menu.html' %} -->

    <!-- Home -->

    <!-- Intro -->

    <div class="destinations" id="destinations" style="margin-top: 100px;">

        {% if property %}

        {% for p in property %}

        {% if p.all_orders %}
        
        <div class="container">
            <div class="row mb-4">
                <div class="col text-center">
                    <div class="section_title">
                        <h2>Booking For {{p.name}}</h2>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Visitor Name</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">No Of People</th>
                        <th scope="col">No of Rooms</th>
                        <th scope="col">Price</th>
                        <th scope="col">Checkout User?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in p.all_orders %}
                            <tr>
                                <th scope="row"><a href="" data-toggle="modal" data-target="#userDetailModal">{{b.visitor.name}}</a></th>
                                <td>{{b.from_date}}</td>
                                <td>{{b.to_date}}</td>
                                <td>{{b.no_people}}</td>
                                <td>{{b.rooms}}</td>
                                <td>{{b.price}}</td>
                                <td><a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#checkoutModal">Checkout</a></td>

                                <!-- User Detail Modal -->

                                <!-- Modal -->
                                <div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="userDetailModalTitle"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">{{b.visitor.name}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group row">
                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{b.visitor.email}}">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!-- End User Detail Modal -->



                                <!-- Checkout modal -->
                                <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="checkoutModalLabel">Checkout User?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure to checkout the Booking of {{b.visitor.name}}?<br><br>

                                                Please make sure before confirm as this will remove the booking from {{b.visitor.name}} side too.
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <a type="button" class="btn btn-primary text-white" href="{% url 'checkout' b.pk %}">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- End Checkout Modal -->
                            </tr>
                    {% endfor %}
                    
                </tbody>
            </table>

        </div>

        {% endif  %}


        {% endfor %}

        {% else %}
        <div class="container text-center mt-5">
            <h3>Looks like you have not listed your property.</h3>
        </div>

        {% endif %}
    </div>


</div>

{% endblock content %}


{% block js %}

{% endblock js %}