<div class="news" id="news">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="news_container">

                    <!-- News Post -->
                    <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                        <div class="news_post_content">
                            <div class="news_post_date d-flex flex-row align-items-end justify-content-start">

                                <div class="news_post_title"><a>Why choose us?</a></div>
                            </div>
                            <div class="news_post_text">
                                <p>We intend to be the one step solution for all the required facilities for
                                    travelling.</p>
                            </div>
                        </div>
                    </div>

                    <!-- News Post -->
                    <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                        <div class="news_post_content">
                            <div class="news_post_date d-flex flex-row align-items-end justify-content-start">

                                <div class="news_post_title"><a>What do we aim?</a></div>
                            </div>
                            <div class="news_post_text">
                                <p>We aim to complete our final project.</p>
                            </div>
                        </div>
                    </div>

                    <!-- News Post -->
                    <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                        <div class="news_post_content">
                            <div class="news_post_date d-flex flex-row align-items-end justify-content-start">


                                <div class="news_post_title"><a>Best tips to travel light</a></div>
                            </div>

                            <div class="news_post_text">
                                <p>Join with us to experience best travel. We make sure your travel is fun.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- News Sidebar -->
            <div class="col-xl-4">
                <div class="travello">
                    <div class="background_image" style="background-image:url(static/images/travello.jpg)"></div>
                    <div class="travello_content">
                        <div class="travello_content_inner">
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>