{% load static %}

<div class="destination item">
    <div class="destination_image">
        <img src="{{p.main_image.url}}" alt="">
    </div>
    <div class="destination_content">
        <div class="destination_title"><a href="{% url 'property-detail' p.slug %}">{{p.name}}</a></div>
        <div class="destination_subtitle">
            <p>{{p.address}}.<br><b>Type : {{p.type}}</b></p>
        </div>
        <div class="destination_price">From Rs. {{p.price_per_room}}</div>
    </div>
</div>