{% load static %}

<div class="destination item">
    <div class="destination_image">
        <img src="{{p.main_image.url}}" alt="">
    </div>
    <div class="destination_content">
        <div class="destination_title"><a href="{% url 'property-detail' p.slug %}">{{p.name}}</a></div>
        <div class="destination_subtitle">
            <p>{{p.address}}.<br><b>Type : {{p.type}}</b></p>
        </div>
        <div>

            <span class="destination_price">From Rs. {{p.price_per_room}}</span>
            {% if p.owner == request.user %}
            <span style="float: right; margin-right: 10px;">Delete</span>
            <span style="float: right; margin-right: 10px; "><a href="{% url 'edit-property' p.slug %}">Edit</a></span>
            {% endif %}

        </div>
    </div>
</div>