<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
                        <div class="logo"><a href="{% url 'homepage' %}">H2H</a></div>
                        <nav class="main_nav">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="#news">Profile</a></li>
                                    <li><a href="{% url 'my-property' %}">My Listings</a></li>
                                    <li><a href="{% url 'add-property' %}">Add Property</a></li>
                                    <div class="dropdown">
                                        <li>
                                            <a style="color: white;">Booking
                                                <button class="dropbtn"></button>
                                                <div class="dropdown-content">
                                                    <a href="guest/guestlogin.html" class="login-content"> Received </a> <br>
                                                    <a href="host/hostlogin.html" class="login-content"> Booked </a>
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                {% else %}
                                <li><a href="#news">About us</a></li>
                                <li><a href="#destinations">Explore</a></li>
                                <li><a href="#contact">Contact</a></li>
                                <div class="dropdown">
                                    <li><a href="{% url 'register' %}">SIGNUP
                                        </a>
                                    </li>
                                </div>
                                {% endif %}
                            </ul>
                        </nav>
                        <!-- <div class="dropdown">
							<div class="header_phone ml-auto">
								<button class="dropbtn">LOGIN</button>
                				<div class="dropdown-content">
                				<a href="guestlogin.html" class="login-content"> Guest </a> <br>
                				<a href="hostlogin.html" class="login-content"> Host </a>
                				</div>
                



							</div>
							</div> -->

                        <!-- Hamburger -->

                        <div class="hamburger ml-auto">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="header_social d-flex flex-row align-items-center justify-content-start">
        <ul class="d-flex flex-row align-items-start justify-content-start">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div> -->
</header>