<div class="menu">
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    <div class="menu_content">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#news">About us</a></li>
            <li><a href="#destinations">Explore</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="">Guest Login</a></li>
            <li><a href="">Host Login</a></li>

            <li><a href="">SIGNUP as Guest</a></li>
            <li><a href="">SIGNUP as Host</a></li>
        </ul>
    </div>
    <div class="menu_social">
        <ul class="d-flex flex-row align-items-start justify-content-start">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>