{% extends 'base/base.html' %}

{% load static %}


{% block title %}
<title>H2H: Login</title>
{% endblock title %}


{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/user/login.css' %}">

{% endblock style %}


{% block content %}

<form action="" id="form" method="POST">

    {% csrf_token %}


    <h2>Login</h2>
    <hr>
    <div class="container">
        <label for="email"><b>Email:</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email"required><br>

        <label for="password"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" minlength="8" maxlength="16" required><br>

        <button type="submit">Login</button>

    </div>
    <div class="container" style="background-color:#f1f1f1">
        <span class="psw"><a href="{% url 'request-reset-password' %}">Forgot password?</a></span>
        Don't have an account ? <a href="{% url 'register' %}">SIGNUP</a>
    </div>

</form>

{% endblock content %}


{% block js %}

{% endblock js %}