{% extends 'base/base.html' %}

{% load static %}


{% block title %}
<title>H2H: Login</title>
{% endblock title %}


{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/user/login.css' %}">

{% endblock style %}


{% block content %}

<form action="guest.html" id="form" method="POST">


    <h2>Login</h2>
    <hr>
    <div class="container">
        <label for="uname"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="username" required="required"><br>

        <label for="psw"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password" required="required"><br>

        <button type="submit">Login</button>

    </div>
    <div class="container" style="background-color:#f1f1f1">
        <span class="psw"><a href="forgot_password.html">Forgot password?</a></span>
        Don't have an account ? <a href="signup.html">SIGNUP</a>
    </div>

</form>

{% endblock content %}


{% block js %}

{% endblock js %}