{% extends 'base/base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/user/forgot_password.css' %}">

{% endblock style %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <h2>Forgot Password</h2>
    <hr><br><br>
    <div class="container">

        <label for="email"><b>Email:</b></label>
        <input type="email" placeholder="Enter Your email" name="email" required="required"><br><br>


        <button type="submit">Send Password Reset Email</button>

    </div>
</form>

{% endblock content %}